body {
    font-family: Arial, sans-serif;
    margin-left: 25px;
    max-width: 310mm; 
    margin: 0 auto;
    border: 3px solid rgb(204, 204, 204);
    border-bottom: #e6e6e6;
    border-top: #e6e6e6;
}
p {
    font-size: 18px; 
}
table {
    border-collapse: collapse;
    width: 100%;
}

#tableWork {
    max-width: calc(100% - 20px); 
    margin: 0 10px;
}

#tableWork1 {
    max-width: calc(100% - 20px); 
    margin: 0 10px;
}

#tableWork2 {
    max-width: calc(100% - 20px);
    margin: 0 10px;
}

#headers {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
    border: 5px solid #555; 
    background-size: 210mm 297mm; 
    max-width: 400mm;
    margin: 0 auto;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.scrollable {
    max-height: 250px;
    overflow-y: scroll;
    /* margin-left: 5px; */
    margin-right: calc(80% );
    width: 50%;
}
.scrollable::-webkit-scrollbar {
    width: 15px; /* Set the width of the scrollbar */
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
    border-radius: 5px; /* Set the border-radius of the thumb */
}
.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the thumb on hover */
}
.scrollable::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Set the color of the track */
}
.scrollable::-webkit-scrollbar-track:hover {
    background-color: #ddd; /* Set the color of the track on hover */
}
#selectedTable {
    margin-top: 20px;
}
.selectedTable td {
    position: relative;
}

#selectedTables {
    width: 100%; /* Add this line to make it take up the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 20px;
    margin: 0;
}
/* .selectedTables td {
    position: relative;
} */

#selectedTablesd {
    margin-top: 20px;
}
.selectedTablesd td {
    position: relative;
}
.heatmap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

input[type="checkbox"] {
    width: 40px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    margin: 0; /* Remove any default margin */
}

select {
    font-size: 16px; /* Adjust the size as needed */
    padding: 8px;    /* Adjust the padding as needed */
    margin-left: 5px;
}
/* Increase the size of the buttons */
button {
    font-size: 16px; /* Adjust the size as needed */
    padding: 10px;   /* Adjust the padding as needed */
}

#atAGlance {
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 0%;
}
/* #menu-container {
    margin-bottom: 20px; 
    width: 100%;
    height: 100vh;
    background: #888;
    position: relative;
    overflow: hidden;
}
.menu {
    margin-bottom: 20px; 
    width: 100%;
    height: 100vh;
    background: #888;
    position: relative;
    overflow: hidden;
} */
#content {
    /* margin-right: 500px;  */
    padding: 20px;
}

#glance {
    
    padding: 0px;
}

.newRowClass {
    animation: fadeInFromBottom 0.8s ease-in-out;
}

#menuWindow {
    display: none;
    position:absolute;
    /* top: 55%;
    left: 55%; */
    /* transform: translate(-50%, -50%); */
    padding: 20px;
    background-color: #fff;
    border: 2px solid #302e2e;
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
    /* z-index: 1; */
    margin: 40px;
    height: 350px;
    width: 40%;
    overflow-y: auto;
}

/* Style for the close button */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.menuBox {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
    /* height: 100px; */
    overflow-y: auto;
    cursor: pointer;
}
.menuBox:active {
    background-color: #e6e6e6; /* Change background color on click */
    transition: background-color 0.5s; /* Add a smooth transition effect */
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#chart {
    width: 100%;    
    padding: 20px;
    max-width: 310mm;
}

#charts {
    width: 100%;    
    padding: 20px;
    max-width: 310mm;
}

#chartsd {
    width: 100%;    
    padding: 20px;
    max-width: 310mm;
}